.follow-area {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  margin-bottom: 5%;
  border-radius: 5px;
  padding: 10px;
  display: flex;
}
.news-additional-info {
  font-size: 13px;
}
.share-btn {
  font-size: 15px;
}
